<!-- Header start -->
<div class="top-header">

</div>
<div class="main-header">

    <nav>
        <div class="logo">
            <a href="/">
                <h3>Travelex</h3>
                <sub>DISCOVER LUXURY HOTELS</sub>
            </a>
        </div>
        <div class="navbar">
            <ul>
                <li class="active"><a href="/">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">BOOKING</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
        <div>
            <a class="btn login-cta" href="/login">Login/Register</a>
        </div>
    </nav>
</div><br />
<!-- Header end -->

<!-- section1 starts -->
<div class="section1 container">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="/images/img20.jpg" alt="Image">
                <div class="section1-info">
                    <h1>Discover
                        <span>Luxury hotels</span>
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure necessitatibus odio.</p>
                    <a href="" class="cta-btn">Explore more</a>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/img10.jpg" alt="Image">
                <div class="section1-info">
                    <h1>Discover<span>Luxury hotels</span>
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure necessitatibus odio.</p>
                    <a href="" class="cta-btn">Explore more</a>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/img21.jpg" alt="Image">
                <div class="section1-info">
                    <h1>Discover<span>Luxury hotels</span>
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure necessitatibus odio.</p>
                    <a href="" class="cta-btn">Explore more</a>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/img16.jpg" alt="Image">
                <div class="section1-info">
                    <h1>Discover<span>Luxury hotels</span>
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure necessitatibus odio.</p>
                    <a href="" class="cta-btn">Explore more</a>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/img13.jpg" alt="Image">
                <div class="section1-info">
                    <h1>Discover<span>Luxury hotels</span>
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure necessitatibus odio.</p>
                    <a href="" class="cta-btn">Explore more</a>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/img15.jpg" alt="Image">
                <div class="section1-info">
                    <h1>Discover<span>Luxury hotels</span>
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure necessitatibus odio.</p>
                    <a href="" class="cta-btn">Explore more</a>
                </div>
            </div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

<!-- section1 ends -->