<div class="col-md-10 main">
  <div class="container">
    <div class="row mt-5 mb-5">
      <span>Hotel/ My Profile</span>
    </div>
    <div class="row justify-content-center">
      
        <div>
      <h3>{{hotelData.hotelname}}</h3><br/>
      <span><b>Email Address : </b></span><span>{{hotelData.email}}</span><br/>
      <span><b>Contact Number : </b></span><span>{{hotelData.contact}}</span><br/>
        <a href="/hotel/profile/edit" class="btn btn-success">Edit Profile</a>
      </div>
    </div>
  </div>
</div>